click==7.1.2
Cython==0.29.14
Flask==1.1.2
gensim==3.8.3
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
gunicorn==20.0.4
langdetect==1.0.8
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.5
pandas==1.0.5
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
scikit-learn==0.24.0
scipy==1.5.0
six==1.15.0
sklearn==0.0
smart-open==4.1.0
textblob==0.15.3
threadpoolctl==2.1.0
tqdm==4.56.0
Werkzeug==1.0.1
