<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/header.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Recommendation page</title>
</head>
<body  style="background-color:white;">
{% include "header.html" %}
<section>
    <br>
    <br>
    <br>
    <br>
    <form  action="{{url_for('getHashtag')}}" method="POST">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="row mx-md-n5">
            <div class="col px-md-5">
              <center>
                <h3 style = "color : #1DA1F2;">Enter your tweet here !</h3>
                <textarea name="comment" rows="4" cols="50"></textarea>
                <input type="submit" name="" value="show me hashtag" class="btn btn-info" style=" background-color: #1DA1F2; color: white;">
              </center>
            </div>
            <div class="col px-md-5">
              {{ title }}
                  <ul>
                    {% for i in prediction: %}
                    <li><strong>{{i}}</li>
                    {% endfor %}


                  </ul>
            </div>
        </div>
      </div>
    </form>
  </section>


</body>
</html>
