<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hashtag recommandation</h1>
    <form  action="{{url_for('recommendation')}}" method="POST">
      <h3>Enter Your tweet Here</h3>
      <textarea name="comment" rows="4" cols="50"></textarea>
      <br>
      <input type="submit" name="" value="show me hashtag" class="btn btn-info">
    </form>
    <div align="center">
     {{ prediction }}
     <br>
     {{similaire }}
     <!--<a href="javascript:history.back()">Back</a>-->
   </div>
  </body>
</html>
